doctype html
link(rel="import" href="packages/polymer/polymer.html")

polymer-element(name="panepond-board")
  template
    p.score total {{totalScore}}
    .board.ti
      template(repeat="{{col in columns | enumerate}}")
        .col
          template(repeat="{{tile in col.value | enumerate}}")
            .tile(class="type{{tile.value.type}}" pos="{{col.index}},{{tile.index}}") {{tile.value.symbols[tile.value.type]}}

    .board.cu
      template(repeat="{{col in columns | enumerate}}")
        .col
            template(repeat="{{tile in col.value | enumerate}}")
              .tile(class="{{(col.index >= cursor['x'] && col.index < cursor['x'] + cursor['width']\
                          && tile.index >= cursor['y'] && tile.index < cursor['y'] + cursor['height'])? \"cursor\" : ''}}") &nbsp;
    .board.ef
      template(repeat="{{col in columnEffects | enumerate}}")
        .col
          template(repeat="{{tile in col.value | enumerate}}")
            .tile(pos="{{col.index}},{{tile.index}}") {{tile.value}}

    link(rel="stylesheet" href="board.css")
script(type="application/dart" src="board.dart")
