doctype html
link(rel="import" href="packages/polymer/polymer.html")

polymer-element(name="panepond-board" on-click="{{handleClick}}")
  template
    .board.ti
      template(repeat="{{col in columns}}")
        .col
          template(repeat="{{tile in col.tiles}}")
            .tile(class="type{{tile.type}}") {{tile.symbols[tile.type]}}

    .board.cu
      template(repeat="{{col in columns | enumerate}}")
        .col
            template(repeat="{{tile in col.value.tiles | enumerate}}")
              .tile(class="{{(col.index >= cursor['x'] && col.index < cursor['x'] + cursor['width']\
                          && tile.index >= cursor['y'] && tile.index < cursor['y'] + cursor['height'])? \"cursor\" : ''}}") &nbsp;

    link(rel="stylesheet" href="board.css")
script(type="application/dart" src="board.dart")
