doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title panepond
    link(rel="stylesheet" href="index.css")
    link(rel="import" href="board.html")
  body
    h1 Welcome to Panepond(art) WIP
    p Type IJKL to move around (ALL CAPS!)
    panepond-board.player1
    script(type="application/dart" src="board.dart")
