doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title panepond
    link(rel="stylesheet" href="index.css")
    link(rel="import" href="board.html")
  body
    header
      p.pre Be welcome to
      p.deco.top u &nbsp; &nbsp; v
      h1(style="text-shadow: rgb(91, 180, 180) 0px 1px 0px, rgb(91, 180, 180) 0px 2px 0px, rgb(91, 180, 180) 0px 3px 0px, rgb(91, 180, 180) 0px 4px 0px, rgba(0, 0, 0, 0.2) 0px 5px 1px, rgba(0, 0, 0, 0.298039) 0px 0px 10px, rgba(0, 0, 0, 0.4) 0px 3px 5px, rgba(0, 0, 0, 0.498039) 0px 6px 5px, rgba(0, 0, 0, 0.6) 0px 10px 10px;") Panepond
      p.post Panel de Pon with D(art)
      p.deco.bottom D                    C
    .main
      panepond-board.player1
    script(type="application/dart" src="board.dart")
